.transition {
  transition: all 3s ease, transform 3s ease;
}

.transition-active {
  transform: scale(1.1); /* slight zoom-in effect */
  background-color: #ffc107cc; /* slightly transparent warning to give active feedback */
}
/* Base styling */
.scroll-container {
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  scrollbar-width: thin; /* Firefox */
}

/* Small devices (≥576px) */
@media (min-width: 576px) {
  .scroll-container {
    max-width: 100px;
  }
}

/* Medium devices (≥768px) */
@media (min-width: 768px) {
  .scroll-container {
    max-width: 400px;
  }
}

/* Large devices (≥992px) */
@media (min-width: 992px) {
  .scroll-container {
    max-width: 600px;
  }
}
